
body {
    width: 100%;
    height: 100%;
    background: #212121!important
}

.portada{
  max-width: 80%;
  height: 500px;
  overflow: hidden;
}

.carousel .indicators .indicator-item.active {
    background-color: #fff700b0 !important;
}

.carousel .indicators .indicator-item {
    background-color: #fbff00 !important;

}
